body {
    background-color: blanchedalmond;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin: 5px;
}

#Connect ul {
    display: flex;
    justify-content: space-evenly;
    list-style: circle;
}

h2 {
    font-size: x-large;
    font-weight: 800;
    color: blue;
}

h1 { 
    font-size: 40px;
    font-family: Garamond, Helvetica, sans-serif;
    text-align: center;
}

#Experience ul {
    list-style: square;
}